body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
  }

  .background{
      display: block;
      z-index: 1;
      position: relative;
      width: 100%;
      height: 100%;
  }
  .you{
      position: absolute;
      z-index: 10;
      top:10%;
      width: 25%;
      height: 75%;
      -webkit-animation-name: example;  
      -webkit-animation-duration: 16s;  
      -webkit-animation-fill-mode: forwards; 
      animation-name: example;
      animation-duration: 16s;  
      animation-fill-mode: forwards;
    }
    
    
    @-webkit-keyframes example {
      from {left: 0px;}
      to {left: 58.33%;}
    }
    
    @keyframes example {
      from {left: 0px;}
      to {left: 58.33%;}
  }